
body{
    background-color: rgb(166, 174, 173);
    text-align: center;
}

.btn {
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width: 70px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgb(117, 183, 109);  
}