 
        
         .btnAdd{
            background-color: greenyellow;
            padding: 5px 15px;
            border: none;
            color: black;
            border-radius: 9px;
        }
        .btnList{
            background-color: rgb(77, 74, 74);
            border: 2px solid black;
            padding: 5px 35px;
            color: white;
            border-radius: 7px;
        }
        
        #btn1{
            color: black;
            background-color: rgb(87, 73, 179);
            padding: 10px 20px;
            border-radius: 5px;
        }

        .btn2 {
            color: rgb(164, 58, 58);
            background-color: rgb(209, 237, 117);
            padding: 10px 20px;
            border-radius: 5px;
        }

       